<!DOCTYPE html>
<html>
<head>
	<title>Books</title>
</head>
<body>
	<h1>Book List</h1>
		<% books.forEach(function(book) { %>
			<ul>
				<li><a href="books/<%= book.id %>"><%= book.title %></a></li>
			</ul>
		<% }); %>
	<br>
	<h1>Categories</h1>
		<% categories.forEach(function(category) { %>
			<ul>
				<li><a href="categories/<%= category.id %>"><%= category.name %></a></li>
			</ul>
			<form method='POST' action='/books/categories/<%= category.id %>?_method=DELETE'>
				<input type='submit' value="DELETE <%= category.name %>">
			</form>
		<% }); %>
	<br>
	<h2><a href="/authors">Return to author list</a></h2>
</body>
</html>