<!DOCTYPE html>
<html>
<head>
	<title>Book Categories</title>
</head>
<body>
	<h2>Current categories for <%= book.title %>:</h2>
	<ul>
		<% categories.forEach(function(category) { %>
			<li><%= category.name %></li>
			<form method='POST' action='/books/category/<%= book.id %>/<%= category.id %>?_method=DELETE'>
				<input type='submit' value='DELETE <%= category.name %>'>
			</form>
		<% }); %>
	</ul>
	<h2>Add a category for <%= book.title %>:</h2>
	<form method='POST' action='/books/<%= book.id %>'>
		New Category Name: <input type='text' name='name'>
		<input type='submit' value='submit'>
	</form>
	<br>
	<h2><a href='/books'>Return to book list</a></h2>
</body>
</html>