<!DOCTYPE html>
<html>
<head>
	<title>Authors</title>
</head>
<body>
	<h1>Authors</h1>
	<h3><a href='/authors/new'>Add a new author</a></h3>
	<h3><a href='/books'>All books</a></h3>
	<h3>Click an author to edit or add a book they've written</h3>
	<h3>Click on a book to see all categories it is a part of</h3>
	<h3>Authors:</h3>
	<% authors.forEach(function(author) { %>
		<h4><a href="/authors/update/<%= author.id %>"><%= author.name %></a></h4>
		<ul>
			<% author.books.forEach(function(book) { %>
					<li><a href="/books/<%= book.id %>"><%= book.title %></a></li>
				<% }); %>
		</ul>
		<form method='POST' action='/authors/delete/<%= author.id %>?_method=DELETE'>
			<input type='submit' value="DELETE <%= author.name %>">
		</form>
	<% }) %>
</body>
</html>

